hosts
*.swp
*.retry
testplay.yml

# ssh keys
ansible-srv/web-srv.pub
ansible-srv/web-srv

# jobs
web-srv/jobs/*
web-srv/roles/*

# common file
ansible-srv/vars/common.yml

# variables file
ansible-srv/variables.yml

# file
ansible-srv/file
ansible-srv/roles/kubernetes-gcp/templates/project-2af53c61d296.json