hosts
*.swp
*.retry
testplay.yml

# ssh keys
ansible-srv/web-srv.pub
ansible-srv/web-srv

# jobs
web-srv/jobs/*

# common file
ansible-srv/vars/common.yml

# variables file
ansible-srv/variables.yml

# file
ansile-srv/file
