---
- job:
    become: true
    name: {{jenkins_job_name_checkbox}} 
    description: 'Run Checkbox tests'
    project-type: freestyle
    builders:
      - shell: 'cp -r /checkbox/* /var/lib/jenkins/workspace/{{jenkins_job_name_checkbox}}/'
      - shell: 'cd server-side/site && npm install && npm test'

- job:
    become: true
    name: {{jenkins_job_name_itrust}} 
    description: 'Run iTrust tests'
    project-type: freestyle
    builders:
      - shell: 'cp -r /itrust/iTrust2/* /var/lib/jenkins/workspace/{{jenkins_job_name_itrust}}/'
      - shell: 'mvn -f pom-data.xml process-test-classes && mvn clean test verify checkstyle:checkstyle'

