---
- name: 'Checkout new branch'
  shell: 'git checkout fuzzer'
  args:
    chdir: "{{ itrust_dest }}"

- name: Run Py script
  script: fuzzer_script.py {{ itrust_dest }}
  register: output

- name: 'Git config user in web'
  shell: git config --global user.email {{ githubemail | urlencode }}

- name: 'Git config password in web'
  shell: git config --global user.password "{{ githubpassword | urlencode }}"

- name: 'Commit changed files in Git'
  shell: git add ./* && git commit -m "Fuzzer commit test" && git log --oneline
  args:
    chdir: "{{ itrust_dest }}"
  ignore_errors: yes
  register: commit_hash

- debug: var=commit_hash.stdout_lines[0].split(']')[0].split(' ')[1]

- name: Wait for {{ timeout_in_seconds }} seconds 
  wait_for:
    timeout: "{{ timeout_in_seconds }}"

- name: 'Reset Commit on Git'
  shell: git reset {{ commit_hash.stdout_lines[0].split(']')[0].split(' ')[1] }}
  args:
    chdir: "{{ itrust_dest }}"

- name: Update Log location 
  command: "cp {{ jenkins_console_output_location }} {{ log_location }}"

- name: run parser script
  script: prioritize.py {{ log_location }} log testcases
  register: output
  
# TO DO: Parse file and store in buffer/report file
