---
- name: Installing jre8
  become: true
  apt:
    name: openjdk-8-jre
    update_cache: yes
    cache_valid_time: 3600
    state: present

- name: Install  pip
  apt: 
    name: ['python-pip', 'python3-pip','python3-lxml']
    state: present

- name: Install the Python jenkins
  pip:
    name: ['jenkins-job-builder']

- name: Installing git
  become: true
  apt:
    name: git
    state: present

- name: Add jenkins repo key
  become: true
  apt_key:
    url: https://pkg.jenkins.io/debian/jenkins.io.key
    state: present

- name: Add jenkins repo list file into sources.list.d
  become: true
  apt_repository:
    repo: deb http://pkg.jenkins.io/debian-stable binary/
    state: present

- name: Installing jenkins
  become: true
  apt:
    name: jenkins
    state: latest
    update_cache: yes
    cache_valid_time: 3600
  register: was_jenkins_installed

- name: Wait for 10 sec 
  wait_for:
      timeout: 10

- name: Reading password
  no_log: true
  shell: cat /var/lib/jenkins/secrets/initialAdminPassword 
  register: initial

- name: Configuring jenkins
  become: true
  jenkins_script:
    script:  |
      import jenkins.model.*
      import hudson.security.*

      def instance = Jenkins.getInstance()

      println "--> Creating local user 'admin'"

      def hudsonRealm = new HudsonPrivateSecurityRealm(false)
      hudsonRealm.createAccount('{{ jenkins_admin_username }}','${user_pwd}')
      instance.setSecurityRealm(hudsonRealm)

      def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
      strategy.setAllowAnonymousRead(false)
      instance.setAuthorizationStrategy(strategy)
      instance.save()
    args:
      user_pwd: "{{jenkins_admin_password}}"
    user: "{{jenkins_admin_username}}"
    password: "{{initial.stdout}}"
  when: was_jenkins_installed.changed

- name: Complete jenkins setup
  become: true
  jenkins_script:
    script: |
      import static jenkins.model.Jenkins.instance as jenkins
      import jenkins.install.InstallState
      if (!jenkins.installState.isSetupComplete()) {
        InstallState.INITIAL_SETUP_COMPLETED.initializeState()}
    user: "{{jenkins_admin_username}}"
    password: "{{jenkins_admin_password}}"
  when: was_jenkins_installed.changed

- name: Install plugins
  jenkins_plugin:
    name: "{{item | urlencode }}"
    with_dependencies: true
    validate_certs: false
    url_username: "{{jenkins_admin_username}}"
    url_password: "{{jenkins_admin_password}}"
  with_items:
    - "{{plugins_list_org}}"
    - "{{plugins_list_build}}"
    - "{{plugins_list_build_tools}}"
    - "{{plugins_list_pipe}}"
    - "{{plugins_list_scm}}"
    - "{{plugins_list_notify}}"
  ignore_errors: yes
  when: was_jenkins_installed.changed

- name: Restart jenkins
  systemd:
   name: jenkins
   state: restarted 

- name: Wait for 20 sec 
  wait_for:
    timeout: 20

##### Create jobs ##############

- name: Disable security
  jenkins_script:
      script: |
        import jenkins.model.*
        import hudson.security.*
        import hudson.security.csrf.DefaultCrumbIssuer
        
        def instance = Jenkins.getInstance()

        instance.disableSecurity()
        instance.save()
      user: "{{jenkins_admin_username}}"
      password: "{{jenkins_admin_password}}"

- name: Update Jobs 
  command: 'jenkins-jobs update jobs'

- name: Enable security
  jenkins_script:
      script: |
        import jenkins.model.*
        import hudson.security.*

        def instance = Jenkins.getInstance()

        def hudsonRealm = new HudsonPrivateSecurityRealm(false)
        instance.setSecurityRealm(hudsonRealm)

        def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
        strategy.setAllowAnonymousRead(false)
        instance.setAuthorizationStrategy(strategy)
        instance.save()
      user: "{{jenkins_admin_username}}"
      password: "{{jenkins_admin_password}}"

# - name: Disable Jenkins security
#   xml:
#     path: /var/lib/jenkins/config.xml
#     xpath: /hudson/useSecurity
#     value: 'false'

# - name: edit config.xml
#   xml:
#     path: /var/lib/jenkins/config.xml
#     xpath: /hudson/authorizationStrategy
#     state: present

# - name: edit config.xml
#   xml:
#     path: /var/lib/jenkins/config.xml
#     xpath: /hudson/securityRealm
#     state: absent

# - name: starting jenkins
#   systemd:
#    name: jenkins
#    state: started
# #    daemon_reload: yes 

# - name: Wait for 10 sec 
#   wait_for:
#     timeout: 10

# - name: Making jobs folder
#   file:
#     path: /etc/jenkins_jobs
#     state: directory
#     mode: 0777

# - name: Placing jobs script
#   become: true
#   template:
#     src: ./templates/jenkins_jobs
#     dest: /etc/jenkins_jobs/jenkins_jobs.ini

# - name: Making jobs folder in server
#   file:
#     path: /web-srv/jobs
#     state: directory
#     mode: 0777

# - name: Placing jobs.yml script
#   become: true
#   template:
#     src: ./templates/jobs.yml
#     dest: /web-srv/jobs/

# - name: Adding tasks to Jenkins
#   shell: jenkins-jobs update jobs
#   args:
#       chdir: /web-srv/

# - name: Enable Jenkins security
#   xml:
#     path: /var/lib/jenkins/config.xml
#     xpath: /hudson/useSecurity
#     value: 'true'

# - name: Stopping jenkins
#   systemd:
#    name: jenkins
#    state: stopped 

# - name: Wait for 10 sec 
#   wait_for:
#     timeout: 10
    
# - name: Enabling Jenkins security
#   xml:
#     path: /var/lib/jenkins/config.xml
#     xpath: /hudson/useSecurity
#     value: 'true'

# - name: Restarting jenkins
#   systemd:
#     name: jenkins
#     state: restarted
#     # daemon_reload: yes

# - name: Wait for 10 sec 
#   wait_for:
#       timeout: 10
