---
- hosts: all
  become: yes
  remote_user: root
  vars_prompt:
    - name: "itrust_fuzz_testing"
      prompt: "Do you want to conduct iTrust test prioritization by fuzz testing (y/n)?"
      default: n
      private: no

    - name: "checkbox_analysis_threshold"
      prompt: "Do you want to conduct Checkbox static analysis (y/n)?"
      default: n
      private: no

    - name: "checkbox_static_analysis_max_line_length"
      prompt: "Specify threshold for maximum characters in a single line -- To fail enter value smaller than"
      default: 170
      private: no
      when: checkbox_analysis_threshold == 'y'

    - name: "checkbox_static_analysis_max_function_length"
      prompt: "Specify threshold for maximum function length -- To fail enter value smaller than"
      default: 80
      private: no
      when: checkbox_analysis_threshold == 'y'
      
    - name: "checkbox_static_analysis_max_conditions"
      prompt: "Specify threshold for maximum conditions allowed within a function -- To fail enter value smaller than"
      default: 6
      private: no
      when: checkbox_analysis_threshold == 'y'

  vars_files:
    - ./variables.yml
  
  pre_tasks: 
    - name: Ensure .ssh directory exists.
      file: 
        dest: "{{ key_file | dirname }}"
        mode: 0700 
        owner: "{{ansible_user}}"
        state: directory

  roles:
  # - nodejs
  # - nginx
  # - mongodb
  # - mysql
  - checkbox
  # - itrust
  # - jenkins
  - job-builder
  - { role: test-prioritization, when: itrust_fuzz_testing == 'y' }
